body {
  margin: 0;
  background-color: #181818;
  color: white;
}

.bg-youtube {
  background-color: #181818;
  color: #ffffffe0;
}

.playButtonIcon {
  margin-right: 1rem;
}

// Buttons
.btn-youtube {
  background-color: #303030 !important;
  border: none;
}

.btn-youtube:hover {
  background-color: #303030 !important;
}
