.videoDurationHeader {
  margin: auto;
  padding: 1rem;
}
.videoDurations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videoDurations > button {
  border: none;
  margin-right: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: rgb(170, 170, 170);
  background-color: rgb(48, 48, 48);
}

@media (max-width: 1460px) {
  .videoDurations > button {
    font-size: 1rem;
    margin: .4rem;
  }
}

.videoDurations > button:hover {
  background-color: rgb(55, 55, 55);
}

.videoDurations > button.active {
  background-color: black;
  border: 1px solid white;
}

input[type='number'] {
  background-color: rgb(55, 55, 55);
  width: calc(1rem * 13);
  border: none;
  font-size: 2rem;
}

@media (max-width: 1460px) {
  input[type='number'] {
    font-size: 1rem;
  }
}
