.playbackSpeedHeader {
  margin: auto;
  padding: 1rem;
}
.playbackSpeedButtonsGroup {
  display: flex;
  justify-content: center;
}

.playbackSpeedButtonsGroup > button {
  border: none;
  margin-right: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: rgb(170, 170, 170);
  background-color: rgb(48, 48, 48);
}

@media (max-width: 1460px) {
  .playbackSpeedButtonsGroup > button {
    font-size: 1rem;
  }
}

.playbackSpeedButtonsGroup > button:hover {
  background-color: rgb(55, 55, 55);
}

.playbackSpeedButtonsGroup > button.active {
  background-color: black;
  border: 1px solid white;
}
